sudo: false

language: php

node_js: "0.12"

php:
    - 5.6
    - 7.0
    - hhvm

matrix:
    fast_finish: true
    allow_failures:
        - php: 7.0
        - php: hhvm

before_script:
    - npm --version
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction --prefer-source --dev

script: ./vendor/bin/phpunit --configuration config/phpunit.xml.dist

after_script: ./bin/scrutinizer.sh
